.movieText {
   color:mediumslateblue;
   text-align: left;
   font-size: 1.3vw;
   background-color: lightsalmon;
   
}

.movieHeading {
   color:fuchsia;
   text-align: left;
   font-size: larger;
}